.carousel-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: chartreuse;
    height: 500px;
    width: 100%;
}

.home-content{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}

